:root {
    --base: #e3411c;
    --spacing: 10px;
    --blur: 10px;
}

body {
    text-align: center;
    background: #16162b;
    color: rgb(255, 249, 246);
    font-family: monospace;
    font-weight: 100;
    font-size: 30px;
  }

  img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
    max-width: 600px;
    max-height: auto;
    border-radius: 10px;
    border: inset black 1rem;
  }

  .controls {
    margin-bottom: 50px;
  }

  .accent {
    color: var(--base);
  }

  input {
    width: 100px;
  }