body {
    text-align: center;
    background: #2b1a16;
    color: rgb(255, 249, 246);
    font-family: monospace;
    font-weight: 100;
    font-size: 30px;
  }

  .controls {
    margin-bottom: 50px;
  }

  input {
    width: 100px;
  }